<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

  <div layout:fragment="content">
    <div class="jumbotron">
      <h1>재료 목록</h1>
      <hr/>
      <a class="btn btn-primary" href="/ingredients/new">재료 추가</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- foreach -->
        <tr th:each="item: ${ingredients}">
          <td th:text="${item.id}">PK</td>
          <td th:text="${item.name}">NAME</td>
          <td th:text="${item.type}">TYPE</td>
          <td>
            <a th:href="@{/ingredients/edit/{id}(id = ${item.id})}" class="btn btn-info">수정</a>
            <a th:href="@{/ingredients/delete/{id}(id = ${item.id})}" class="btn btn-danger">삭제</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</html>