<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

  <div layout:fragment="content">
    <div class="jumbotron">
      <h1>재료 등록</h1>
      <hr/>
    </div>

    <div class="container">
      <form method="post" th:action="@{/ingredients}">
        <!-- name -->
        <div class="form-group">
          <label>재료명</label>
          <input name="name" class="form-control" type="text" placeholder="재료명을 입력하세요."/>
        </div>

        <!-- type -->
        <div class="form-group">
          <label>종류</label>
          <select name="type" class="form-control">
            <option value="dough">도우</option>
            <option value="sauce">소스</option>
            <option value="cheese">치즈</option>
            <option value="topping">토핑</option>
          </select>
        </div>

        <!-- submit -->
        <button class="btn btn-primary" type="submit">제출</button>
      </form>
    </div>


  </div>
</html>